.service
{
	background: #191919;
    width: 100%;
	padding: 100px 0px;
	background-image: url('/assets/img/2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}
.title h2
{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}


.box
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card
{
	height: 420px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i
{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}
h5
{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p
{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 15px;
}
.card .button
{
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}