<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-nav></app-nav>
    <div class="service">
        <div class="title">
            <h2>Our Services</h2>
        </div>

        <div class="box">
            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Banner&Flex designs</h5>
                <div class="pra">
                    <p>
                        Make impressive banners,Posters and more free with fotor graphic designer.Free online
                        graphic design tool offers you massive free templates design elements ,and stock images,easy
                        to bring your best ideas and to life
                    </p>
                    <p style="text-align: center;">
                        <a class="button" href="#">Read more</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Photo album Designs</h5>
                <div class="pra">
                    <p>
                        Make impressive banners,Posters and more free with fotor graphic designer.Free online
                        graphic design tool offers you massive free templates design elements ,and stock images,easy
                        to bring your best ideas and to life
                    </p>
                    <p style="text-align: center;">
                        <a class="button" href="#">Read more</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Logo&Art Design</h5>
                <div class="pra">
                    <p>
                        Make impressive banners,Posters and more free with fotor graphic designer.Free online
                        graphic design tool offers you massive free templates design elements ,and stock images,easy
                        to bring your best ideas and to life
                    </p>
                    <p style="text-align: center;">
                        <a class="button" href="#">Read more</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <app-footer></app-footer>
</body>

</html>