<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <app-nav></app-nav>
    <!-- <hr class="hr"> -->
    <section class="about">
        <div class="main">
            <img src="https://www.transparentpng.com/thumb/photoshop-logo-png/hd-photo-png-photoshop-logo-14.png" alt="HD Photo Png Photoshop Logo @transparentpng.com">
            <div class="about-text">
                <h2>About Me</h2>
                <h2>Now I am wornking on about page</h2>
                <h5>Devoleper<span>&Designer</span></h5>
                <p>I am a photo Designer. I can provide neat and best designs and also can make logo's ,stickers and
                    ect... </p>
                <button type="button">Let's Talk</button>
            </div>
        </div>
    </section>
    <!-- <hr class="hr"> -->
    <app-footer></app-footer>
</body>
</html>