<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">s
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <a href="/home" class="navbar-brand">
                    <img [src]="img">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar"
                aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavBar">
                <ul  class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" routerLink="/home"  class="nav-link"> Home</a></li>
                    <li class="nav-item"><a href="#" routerLink="/about"  class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#" routerLink="/servicep"  class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="#" routerLink="/contact"  class="nav-link">Contact</a></li>
                </ul>
                <a href="#" class="btn">LogOut</a>
            </div>

        </nav>
    </header>

  <!--  <div class="hero">
        <nav>
            <img [src]="img">
            <ul>
                <li><a href="#" routerLink="/home">Home</a></li>
                <li><a href="#" routerLink="/about">About Us</a></li>
                <li><a href="#" routerLink="/servicep">Services</a></li>
                <li><a href="#" routerLink="/contact">Contact Us</a></li>
            </ul>
            <a href="#" class="btn">Log In</a>
        </nav>

    </div>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>


</body>

</html>