<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div class="container ">
    <div class="row ">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h1>Log In</h1>
                    <form action="#" #f="ngForm" novalidate (ngSubmit)="f.form.valid&&onSubmit()">
                        <div class="form-group">
                            <label for="email"> <i class="fa-solid fa-envelope"></i> Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="formdata.email" #email="ngModel"
                                required>
                            <span class="text-danger" *ngIf="this.submit&&email.errors?.['required']">Emails is required
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="password"><i class="fa-solid fa-key"></i> Password </label>
                            <input type="password" name="password"  class="form-control" id="password" placeholder="Password" [(ngModel)]="formdata.password"
                                #password="ngModel" required>
                            <span class="text-danger" *ngIf="this.submit&&password.errors?.['required']">Password is
                                required </span>
                        </div>
                        <div class="forget-pass">
                            <a href="#">Forget Password?</a>
                        </div>
                        <div class="btn">
                            <button  type="submit" (click)="submit=true">Login</button> 
                        </div>
                        <div class="singup-link">
                            Not a User? <a href="login.component.html">Singup now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>




hi i'm pachamuthu













<!-- <form action="" method="post" #f="ngForm" novalidate (ngSubmit)="f.form.valid&&onSubmit()">
    <div class="form-group ">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="formdata.email" #email="ngModel" required>
        <span class="text-danger" *ngIf="this.submit&&email.errors?.['required']">Emails is required
        </span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" required>
    
    </div>
    <div class="forget-pass">
        <a href="#">Forget Password?</a>
    </div>
    <div class="btn">
        <button type="submit" (click)="submit=true">Login</button>
    </div>
    <div class="singup-link">
        Not a User? <a href="login.component.html">Singup now</a>
    </div>
    
</form> -->








    <!--<div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="text">User Login</div>
                
            </div>
        </div>

    </div>-->
</body>

</html>